@model IEnumerable<GlobalSoft.Models.TrsnoVM>

@{
    ViewBag.Title = "Index";
}

<h2>Chart Of Account</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Chart of Account</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>


                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.GlAkun)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.GlAkunName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TransNo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.GlAkun)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.GlAkunName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransNo)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.GlAkunID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.GlAkunID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.GlAkunID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">


     $(document).ready(function () {

         $('#assets-data-table').DataTable();
     });
    </script>
}
