@model IList<GlobalSoft.Models.PiutangDetail>

<style>
    td.details-control {
        background: url('../../Content/DataTables/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../../Content/DataTables/images/details_close.png') no-repeat center center;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Detail Angsuran</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Unit</th>
                            <th>Customer</th>
                            <th>Surat Pesanan</th>
                            <th>Tanggal</th>
                            <th>Keterangan</th>
                            <th>Piutang</th>
                            <th>Bayar</th>
                            <th>Diskon</th>
                            <th>Sisa</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var aset in Model)
                        {
                        <tr>
                            <td>@aset.SPesananID</td>
                            <td>@aset.UnitNo</td>
                            <td>@aset.CustomerName</td>
                            <td>@aset.SPesanan</td>
                            <td>@aset.Duedate</td>
                            <td>@aset.Keterangan</td>
                            <td>@aset.Piutang</td>
                            <td>
                                @Html.EditorFor(model => aset.Bayar, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => aset.Diskon, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                           
                            <td>@aset.Sisa</td>
                            <td class="details-control"></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('table.tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);

        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child('<p><center>Loading...</center></p>', 'no-padding').show();
            tr.addClass('shown');
            $('div.slider', row.child()).slideDown();
            //    $.getJSON('https://api.myjson.com/bins/1cuzu', function (data) {
            //        $('td', row.child()).html(format(data));
            //         $('div.slider', row.child()).show();
            //  });

            //          $.getJSON('/Dashboard/Getunit', function (data2){
            $.getJSON('../Dashboard/GetDetail/?unitNo=' + row.data().UnitNo, function (data2) {
                $('td', row.child()).html(format(data2));
                $('div.slider', row.child()).show();
            });
        }
    });

</script>