@model IEnumerable<GlobalSoft.Models.AptTrans>

@{
    ViewBag.Title = "Surat Pesanan";
}

<h2>Surat Pesanan</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AptUnit.UnitNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArCustomer.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keterangan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Piutang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AptMarketing.MarketingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaraBayar)
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AptUnit.UnitNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArCustomer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keterangan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piutang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AptMarketing.MarketingName)
            </td>
            <td> var Cara = from e in viewdata["Carabayar"] where e.
                @Html.DisplayFor(modelItem => item.CaraBayar)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TransID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TransID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TransID }) |
                @Html.ActionLink("Surat Pesanan", "sPesanan", new { id = item.TransID })
            </td>
        </tr>
    }

</table>
<div>
    <table class="table-bordered">
        <tr>
            <td>Cicilan</td>

            <td> </td>
            <td>Tanda Jadi</td>

        </tr>
    </table>
</div>
<div>
    <table class="table table-bordered">

        <tr>
            <th>
                inHouse
            </th>
            <th>
                Cicilan
            </th>
            <th>
                KPR
            </th>
            <th>
                Cicilan
            </th>
            <th>
                Tanda Jadi
            </th>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </table>
</div>