@model IList<GlobalSoft.Models.AptSPesanan>



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Detail Angsuran</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>Keterangan</th>
                            <th>Angsuran</th>

                        </tr>
                    </thead>

                    <tbody>
                        @{ 
                            decimal total = 0;
                        }
                        @foreach (var aset in Model)
                        {
                            <tr data-id="test">
                                <td>     @Html.TextBoxFor(model => aset.Tanggal, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date"})</td>
                                <td>  @Html.EditorFor(model => aset.Keterangan, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td class="angsuran">
                                    @Html.EditorFor(model => aset.Jumlah, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                                </td>
                            </tr>
                            total += aset.Jumlah;
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="font-size:larger" colspan="2" align="right"><strong>TOTAL ANGSURAN</strong></td>
                            
                            <td id="totjumlah" style="font-size:larger"><strong>@string.Format("{0:n0}", @total)</strong></td>

                        </tr>
                    </tfoot>
                </table>
                
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


   
    <script>
        $("button").click(function (e) {
            e.preventDefault();
            price = $(this).data('id');
            //    alert(price);
            var orderArr = [];
            orderArr.length = 0;

            //  var Row = document.getElementById("assets-data-table");
            //  var Cells = Row.getElementsByTagName("td");

            //  alert(Cells[5].innerText);

            var piutang = $(this).parents('tr').find('td:eq(6)').html();
            var pembayaran = $(this).parents('tr').find(".bayar input").val();
            var diskon = $(this).parents('tr').find(".diskon input").val();
            var sisa = parseFloat(piutang) - parseFloat(pembayaran) - parseFloat(diskon);
            //  var col_index = $(this).parents('td').index();
            var n = sisa.toFixed(2);
            $(this).parents('tr').find('td:eq(10)').html(n);

            //     alert(sisa);
            //  alert(piutang2);

        });



        function getDateIfDate(d) {
            var m = d.match(/\/Date\((\d+)\)\//);
            return m ? (new Date(+m[1])).toLocaleDateString('en-GB', { month: '2-digit', day: '2-digit', year: 'numeric' }) : d;
        }

       
    </script>

    

}