@model GlobalSoft.Models.AptAgen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Marketing Agen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
