@model IEnumerable<GlobalSoft.Models.AptAgen>

@{
    ViewBag.Title = "Index";
}

<h2>Marketing Agen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgenID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgenID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgenID })
        </td>
    </tr>
}

</table>
