@model GlobalSoft.Models.OdTransH

@{
    ViewBag.Title = "Edit Transaksi";
}

<h2>Edit Transaksi</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CbTransH</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TranshID)
        <div class="col-md-6" style="display:inline-block">
            <div class="form-group">
                @Html.LabelFor(model => model.Docno, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Docno, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @*Html.TextBoxFor(model => model.Docno, new { disabled = "disabled" })*@
                    @Html.ValidationMessageFor(model => model.Docno, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BankID, "BankID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("BankID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BankID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6" style="display:inline-block">
            <div class="form-group">
                @Html.LabelFor(model => model.Tanggal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Keterangan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Keterangan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        <div>
            <table id="detailsTable" class="table">
                <thead>
                    <tr>
                        <th style="width:30%">Transaksi</th>
                        <th style="width:20%">Keterangan</th>
                        <th style="width:15%">Terima</th>
                        <th style="width:25%">Bayar</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var e in Model.OdTransDs)
                        {
                    <tr id=@e.TransdID>
                        <td>
                            @Html.DropDownList("TransNo", null,  htmlAttributes: new { @class = "form-control", @id = "transid",@Value= @e.TransNoID, @option = se })
                        </td>
                        <td>   @Html.Editor("Ket" + e.TransdID, new { htmlAttributes = new { @class = "form-control", @Value = @e.Keterangan } })</td>
                        <td>   @Html.Editor("Terima" + e.TransdID, new { htmlAttributes = new { @class = "form-control", @Value = @e.Terima } })</td>
                        <td>   @Html.Editor("Bayar" + e.TransdID, new { htmlAttributes = new { @class = "form-control", @Value = @e.Bayar } })</td>
                    </tr>
                        };
                    }
                </tbody>
            </table>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
