@model IEnumerable<GlobalSoft.Models.CbTransH>

<br /><br />
<div class="panel panel-default">


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading">
                    <div class="row">
                        <h1 class="panel-title pull-left" style="margin-left:10px;">
                            <strong>Transaksi KasBank</strong>
                        </h1>
                        <button style="margin-right:10px" class="btn btn-default pull-right" onclick="addNewOrder()">New Transaksi</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Dokumen</th>
                            <th>Tanggal</th>
                            <th>Bank</th>
                            <th>Keterangan</th>
                            <th>Jumlah</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.Docno</td>
                                <td>@order.Tanggal</td>
                                <td>@order.Bank1.BankName</td>
                                <td>@order.Keterangan</td>
                                <td>@string.Format("{0:#,#.00}", order.Saldo)</td>

                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = order.TranshID }) |
                                    @Html.ActionLink("Details", "Details", new { id = order.TranshID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = order.TranshID }) |
                                    @Html.ActionLink("Cetak", "BuktiKasBank", new { noref = @order.Docno, cetak = 2 }, new { target = "_blank" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@*Desing Bootdtrap Modal With Order Form*@

<div class="modal fade" id="newOrderModal">
    <div class="modal-dialog modal-lg" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Add New Transaksi</h4>
            </div>
            <form id="NewOrderForm">
                <div class="modal-body">
                    @*Customer Details*@
                    <h5 style="color:#ff6347">Transaksi</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="GidCb" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Kode
                            </label>
                            <div class="col-md-2">
                                <input type="text" maxlength="3" size="3" id="kodeno" class="quantity form-control" onkeydown="uppercaseF(this)" />

                            </div>
                            <div class="col-md-3">
                                <a id="cekbukti" class="btn btn-default">Cek</a>
                            </div>


                            <div class="col-md-3">
                                <input type="text" id="docno" name="docno" placeholder="No. Bukti" class="form-control" />
                            </div>
                            <br />
                            <hr />
                            <label class="control-label col-md-2">
                                Tanggal
                            </label>
                            <div class="col-md-3">
                                
                                <input type="date" id="tanggal" name="tanggal" placeholder="Tanggal" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </div>

                            <label class="control-label col-md-2">
                                Bank
                            </label>
                            <div class="col-md-3">
                                @Html.DropDownList("BankID", null, "--Select Bank--", htmlAttributes: new { @class = "form-control", @id = "bankid" })
                            </div>
                            <br />
                            <br />
                            <label class="control-label col-md-2">
                                Deskripsi
                            </label>
                            <div class="col-md-5">
                                <input type="text" id="deskripsi" name="deskripsi" placeholder="Deskripsi" class="form-control" />
                            </div>
                        </div>
                    </div>

                    @*Order Details*@
                    <h5 style="margin-top:10px;color:#ff6347">Transaksi Details</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="GuidDb" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Tipe
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownList("TransNoID", null, "--Tipe Transaksi--", htmlAttributes: new { @class = "form-control", @id = "transid" })
                            </div>


                            <label class="control-label col-md-2">
                                Keterangan
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="keterangan" name="keterangan" placeholder="Keterangan" class="form-control" />
                            </div>
                            <br />

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Terima
                            </label>
                            <div class="col-md-4">
                                <input type="number" id="terima" name="terima" placeholder="Terima" class="form-control" value=0 step="0.1" />
                            </div>

                            <label class="control-label col-md-2">
                                Bayar
                            </label>
                            <div class="col-md-4">
                                <input type="number" id="bayar" name="bayar" placeholder="Bayar" class="form-control" value=0 step="0.1" />
                            </div>
                            <br />
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-lg-offset-10">
                                <a id="addToList" class="btn btn-primary">Add To List</a>
                            </div>
                        </div>

                        <table id="detailsTable" class="table">
                            <thead>
                                <tr>
                                    <th style="width:30%">Transaksi</th>
                                    <th style="width:20%">Keterangan</th>
                                    <th style="width:15%">Terima</th>
                                    <th style="width:25%">Bayar</th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="saveOrder" type="submit" class="btn btn-danger">Save Order</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <script>
        $(function () {
            $("#ggal").datepicker({
                dateFormat: 'mm/dd/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:' + (new Date().getFullYear() + 60)
            });
        });
    </script>
    <script>
        //Show Modal.
        function addNewOrder() {
            $("#newOrderModal").modal();
        }
        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#keterangan").val()) == "" && ($.trim($("#terima").val()) == "0" || $.trim($("#bayar").val()) == "0")) return;

            var productName = $("#keterangan").val(),
                price = $("#terima").val(),
                quantity = $("#bayar").val(),
                transval = $("#transid").val(),
                transtext = $("#transid option:selected").text(),
                detailsTableBody = $("#detailsTable tbody");

            var productItem = '<tr><td>' + transtext + '</td><td>' + productName + '</td><td>' + price + '</td><td>' + quantity + '</td><td style="display:none">' + transval + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            detailsTableBody.append(productItem);
            clearItem();
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#keterangan").val('');
            $("#terima").val(0);
            $("#bayar").val(0);
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') === "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveOrder(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/TransBank/SaveOrder",
                data: data,
                success: function (result) {
                    alert(result);
                    cetak();
                    location.reload(true);
                },
                error: function () {
                    alert("Error!");
                }
            });
        }
        //Collect Multiple Order List For Pass To Controller
        $("#saveOrder").click(function (e) {
            e.preventDefault();

            var orderArr = [];
            orderArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                orderArr.push({
                    TransNoID: $(this).find('td:eq(4)').html(),
                    Keterangan: $(this).find('td:eq(1)').html(),
                    Terima: $(this).find('td:eq(2)').html(),
                    Bayar: $(this).find('td:eq(3)').html()


                });
            });


            var data = JSON.stringify({
                docno: $("#docno").val(),
                keterangan: $("#deskripsi").val(),
                tanggal: $("#tanggal").val(),
                bank: $("#bankid").val(),
                order: orderArr
            });
            //            alert(data);

            $.when(saveOrder(data)).then(function (response) {               
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });

        function cetak() {
            var noref = $("#docno").val();
            var cetak = 2;
            var url = "/TransBank/BuktiKasBank?noref=" + noref + "&cetak=2";
            window.open(url);

        }
    </script>
    <script>
        function uppercaseF(a) {

            setTimeout(function () {
                a.value = a.value.toUpperCase();
            }, 1);

        }
    </script>
    <script>
        $("#cekbukti").click(function (e) {
            e.preventDefault();
            var data = JSON.stringify({
                kodeno: $("#kodeno").val()
            });

            getkode(data);

            function getkode(data) {
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: "/TransBank/GetKode",
                    data: data,
                    success: function (result) {

                        $("#docno").val(result);

                    },
                    error: function () {
                        alert("Error!");
                    }
                });
            }

        });



    </script>
    <script type="text/javascript">


        $(document).ready(function () {
            var table = $('#assets-data-table').DataTable({
                "language": {
                    "decimal": ",",
                    "thousands": "."
                },
                "scrollY": 300,
                "scrollX": true
            });

            $('#assets-data-table tbody')
                .on('mouseenter', 'td', function () {
                    var colIdx = table.cell(this).index().column;

                    $(table.cells().nodes()).removeClass('highlight');
                    $(table.column(colIdx).nodes()).addClass('highlight');
                });
        });
    </script>
    <script>
        /*            document.getElementById("Docno").focus = function () { myFunction() };

                    function myFunction() {
                        var x = document.getElementById("Docno");
                        x.value = x.value.toUpperCase();
                    }
        */
        addEvent(document.getElementById('terima'), 'keyup', function () {
            document.getElementById('bayar').value = 0;
        });


        function addEvent(ele, evnt, funct) {
            if (ele.addEventListener) // W3C
                return ele.addEventListener(evnt, funct, false);
            else if (ele.attachEvent)  // IE
                return ele.attachEvent("on" + evnt, funct);
        }
    </script>

    <script>
        /*            document.getElementById("Docno").focus = function () { myFunction() };

                    function myFunction() {
                        var x = document.getElementById("Docno");
                        x.value = x.value.toUpperCase();
                    }
        */
        addEvent(document.getElementById('bayar'), 'keyup', function () {
            document.getElementById('terima').value = 0;
        });


        function addEvent(ele, evnt, funct) {
            if (ele.addEventListener) // W3C
                return ele.addEventListener(evnt, funct, false);
            else if (ele.attachEvent)  // IE
                return ele.attachEvent("on" + evnt, funct);
        }
    </script>
    
}
