@model GlobalSoft.Models.AptSPesanan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AptSPesanan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SPesanan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPesanan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tanggal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KodeTrans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeTrans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LPB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LPB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KetBayar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KetBayar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jumlah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jumlah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bayar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bayar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sisa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SldSisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SldSisa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diskon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diskon)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
