@model IEnumerable<GlobalSoft.Models.BookCustModels>

@{
    ViewBag.Title = "Booking Fee";
}

<h2>Booking Fee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CbView.NoRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CbView.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CbView.AptUnit.UnitNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CbView.PersonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CbView.Keterangan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CbView.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CbView.AptMarketing.MarketingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CbView.AptPayment.PaymentName)
            </th>

            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CbView.NoRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CbView.Tanggal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CbView.AptUnit.UnitNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustView.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CbView.Keterangan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CbView.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CbView.AptMarketing.MarketingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CbView.AptPayment.PaymentName)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CbView.TransID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CbView.TransID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CbView.TransID }) |
            @Html.ActionLink("Print", "Tandaterima", new { id = item.CbView.TransID },new { target = "_blank" })
        </td>
    </tr>
}

</table>
