@model IEnumerable<GlobalSoft.Models.CbTrans>

@{
    ViewBag.Title = "Booking Fee";
}

<h2>Booking Fee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AptUnit.UnitNo)
            </th>
            <th>
               Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keterangan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AptMarketing.MarketingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AptPayment.PaymentName)
            </th>

            <th></th>
        </tr>
    </thead>
@foreach (var item in ViewBag.BookingModel) {
    <tr>
        <td>
            @(item.NoRef)
        </td>
        <td>
            @(item.Tanggal)
        </td>
        <td>
            @(item.AptUnit.UnitNo)
        </td>
        <td>
            @(item.PersonID)
        </td>
        <td>
            @(item.Keterangan)
        </td>
        <td>
            @(item.Payment)
        </td>
        <td>
            @(item.AptMarketing.MarketingName)
        </td>
        <td>
            @(item.AptPayment.PaymentName)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TransID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TransID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TransID }) |
            @Html.ActionLink("Print", "Tandaterima", new { id = item.TransID },new { target = "_blank" })
        </td>
    </tr>
}

</table>
