@model IEnumerable<GlobalSoft.Models.CbTrans>

@{
    ViewBag.Title = "Booking Fee";
}

<h2>Booking Fee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AptUnit.UnitNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keterangan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AptMarketing.MarketingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AptPayment.PaymentName)
            </th>

            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tanggal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AptUnit.UnitNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keterangan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AptMarketing.MarketingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AptPayment.PaymentName)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TransID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TransID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TransID }) |
            @Html.ActionLink("Print", "Tandaterima", new { id = item.TransID },new { target = "_blank" })
        </td>
    </tr>
}

</table>
