@model IEnumerable<GlobalSoft.Models.CbTrans>

@{
    Layout = null;
}

<head>
  <link rel="stylesheet" href="~/Content/RekKoran.css" />
     
</head>



<table class="table">
    <thead>
        <tr>
            <th colspan="6" style="text-align:center"><strong>Kartu Piutang</strong></th>
        </tr>
        <tr>
            <th colspan="6" style="text-align:center"><strong>@ViewBag.KartuPiutang</strong></th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keterangan)
            </th>

            <th>
                Debet
            </th>
            <th>
                Kredit
            </th>
            <th>
                Diskon
            </th>

        </tr>
    </thead>
    <tbody>
    
    @{
        decimal nilai = 0;
        decimal nDebet = 0;
        decimal nKredit = 0;
        }

    @foreach (var item in Model)
    {
     
        <tr>
            <td>
                @string.Format("{0:d/M/yyyy}", item.Tanggal)
            </td>
            <td>
                @item.NoRef
            </td>

            <td>
                @item.Keterangan
            </td>

            <td>
                @*Html.DisplayFor(modelItem => item.Piutang)*@
                @string.Format("{0,13:#,##0.00}", item.Jumlah)
            </td>
            <td>
                @string.Format("{0,13:#,##0.00}", item.Bayar)
            </td>
            <td>
                @{
                    nilai = nilai + item.Diskon;
                    nDebet = nDebet + item.Jumlah;
                    nKredit = nKredit + item.Bayar;
                }

                @string.Format("{0,13:#,##0.00}", item.Diskon)
            </td>

        </tr>
        
    }
        <tr>
            <td colspan="2"></td>      
            <td><strong>@string.Format("{0,13:#,##0.00}", ViewBag.Piutang)  </strong></td>
            <td><strong>@string.Format("{0,13:#,##0.00}", nDebet)  </strong></td>
            <td><strong>@string.Format("{0,13:#,##0.00}", nKredit) </strong></td>
            <td><strong>@string.Format("{0,13:#,##0.00}", nilai) </strong></td>
        </tr>
</tbody>

</table>

