@model IEnumerable<GlobalSoft.Models.TrsnoVM>

@{
    ViewBag.Title = "Index";
}
<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>
<h2>Jenis Transaksi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlAkunName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlAkunName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TransNoID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TransNoID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TransNoID })
        </td>
    </tr>
}

</table>
