@model IEnumerable<GlobalSoft.Models.CbTrans>

@{
    Layout = null;
}

<head>
  <link rel="stylesheet" href="~/Content/RekKoran.css" />
     
</head>



<table class="table">
    <thead>
        <tr>
    <th colspan="6">@ViewBag.Judul</th>
    </tr>
        <tr>
         <th colspan="6">   @string.Format("{0:d/M/yyyy}", ViewBag.Tgl1) -sd- @string.Format("{0:d/M/yyyy}", ViewBag.Tgl2)
 </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tanggal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keterangan)
        </th>

        <th>
            Debet
        </th>
        <th>
            Kredit
        </th>
        <th>
            Saldo
        </th>

    </tr>
    @{
        decimal nilai = 0;
        decimal nDebet = 0;
        decimal nKredit = 0;
        }

    @foreach (var item in Model)
    {
     
        <tr>
            <td>
                @string.Format("{0:d/M/yyyy}", item.Tanggal)
            </td>
            <td>
                @item.NoRef
            </td>

            <td>
                @item.Keterangan
            </td>

            <td>
                @*Html.DisplayFor(modelItem => item.Piutang)*@
                @string.Format("{0,13:#,##0.00}", item.Piutang)
            </td>
            <td>
                @string.Format("{0,13:#,##0.00}", item.Diskon)
            </td>
            <td>
                @{
                    nilai = nilai + item.Jumlah;
                    nDebet = nDebet + item.Piutang;
                    nKredit = nKredit + item.Diskon;
                }

                @string.Format("{0,13:#,##0.00}", nilai)
            </td>

        </tr>
        
    }
        <tr>
            <td colspan="3"></td>            
            <td><strong>@string.Format("{0,13:#,##0.00}", nDebet)  </strong></td>
            <td><strong>@string.Format("{0,13:#,##0.00}", nKredit) </strong></td>
            <td></td>
        </tr>
</tbody>

</table>

