@model IEnumerable<GlobalSoft.Models.CbBank>

@{
    ViewBag.Title = "Rekening Koran";
}

<h2>Rekening Koran</h2>
<p>
    <br />
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">
                    Dari Tanggal
                </label>
                <div class="col-md-3">
                    <input type="text" id="tanggal1" name="tanggal" placeholder="Tanggal" class="tanggal" value="@DateTime.Now" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">
                    Sampai Tanggal
                </label>
                <div class="col-md-3">
                    <input type="text" id="tanggal2" name="tanggal" placeholder="Tanggal" class="tanggal" value="@DateTime.Now" />
                </div>
            </div>

        </div>
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccount)
        </th>
        <th>
           Saldo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.ActionLink("Cetak", "Cetak", new { id = item.BankID  }) 
            </td>
        </tr>
    }

</table>
        

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <script>
        $(function () {
            $(".tanggal").datepicker({
                dateFormat: 'mm-dd-yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:' + (new Date().getFullYear() + 60)
            });
        });
    </script>
}