@model GlobalSoft.Models.PiutangMain
<p></p>
<h1>Transaksi</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pembayaran Piutang</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NoBukti, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.NoRef } })
                @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Tanggal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* Date: <input type="text" id="datepicker">*@
                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", placeholder = "Tanggal Transaksi", @readonly = "false", @Value = ViewBag.Tanggal } })
                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Keterangan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Keterangan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, "Customer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("CustomerID", null, "--Select Customer--", htmlAttributes: new { @class = "form-control", @onchange = "CallChangefunc(this)" })
                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })

            </div>

            <input type="submit" value="Submit" title="Get Data" id="ButCustomer" />

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UnitID, "Unit No", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("UnitID", null, "--Select Unit--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
            </div>
            <input type="button" value="Proses" id="Search2" />
        </div>
    </div>
    <div id="target">
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Tanggal</th>
                    <th>Keterangan</th>
                    <th>Piutang</th>
                    <th>Bayar</th>
                    <th>Diskon</th>
                    <th>Sisa</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="partial">
        @{ViewBag.NoUrut = 5;}
        @{
            int xy = 1;
            if (xy == 1)
            {
               @Html.Action("DetailAngsuran")
                }
            }
    </div>


}

@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#Tanggal").datepicker({
                dateFormat: 'mm-dd-yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:' + (new Date().getFullYear() + 60)
            });
        });
    </script>


    <script>
        function CallChangefunc(obj) {
            alert(obj.options[obj.selectedIndex].Value);
        }
    </script>

    <script>
        var i = 1;
        $("#Add").click(function () {
            $.ajax({
                url: '/BayarAngsuran/DetailAngsuran',
                data: { i: i },
                success: function (data) {
                    $("#partial").append(data);
                }
            })
            i++;
        })
    </script>
}
