@model GlobalSoft.Models.PiutangMain
<p></p>
<h1>Transaksi</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pembayaran Piutang</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NoBukti, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.NoRef } })
                @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Tanggal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* Date: <input type="text" id="datepicker">*@
                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", placeholder = "Tanggal Transaksi", @Value = ViewBag.Tanggal } })
                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Keterangan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Keterangan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, "Customer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("CustomerID", null, "--Select Customer--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UnitID, "Unit No", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.UnitID, (SelectList)ViewBag.UnitID, "--Select Unit--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <br />
    <br />

    <div id="list_container">
    </div>

}

@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#Tanggal").datepicker({
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:' + (new Date().getFullYear() + 60)
            });
        });
    </script>

    <script>
        $('#CustomerID').change(function (e) {
            var row_num = $("#CustomerID option:selected").val();
            // alert("Nama Customer : " + row_num);

            $.ajax({
                type: "GET",
                url: "/BayarAngsuran/DetailAngsuran",
                data: {
                    Custid: row_num,
                    Unitid: 0
                },
                success: function (data) {
                    $("#list_container").html(data);
                },
                error: function () {
                    alert("Something went wrong in controller");
                }
            });
        });
    </script>

    <script>
        $('#UnitID').change(function (e) {
            var row_num = $("#UnitID option:selected").val();
            //  alert("Nama Customer : " + row_num);

            $.ajax({
                type: "GET",
                url: "/BayarAngsuran/DetailAngsuran",
                data: {
                    Custid: 0,
                    Unitid: row_num
                },
                success: function (data) {
                    $("#list_container").html(data);
                },
                error: function () {
                    alert("Something went wrong in controller");
                }
            });
        });


    </script>

    <script>
        $(document).ready(function () {
            var table = $('#assets-data-table').DataTable({
                "language": {
                    "decimal": ",",
                    "thousands": "."
                },
                "scrollY": 300,
                "scrollX": true
            });

            $('#assets-data-table tbody')
                .on('mouseenter', 'td', function () {
                    var colIdx = table.cell(this).index().column;

                    $(table.cells().nodes()).removeClass('highlight');
                    $(table.column(colIdx).nodes()).addClass('highlight');
                });
        });



    </script>

}
