@model IList<GlobalSoft.Models.PiutangDetail>



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Detail Angsuran</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No Bukti</th>
                            <th>Tanggal</th>
                            <th>Keterangan</th>
                            <th>Piutang</th>
                            <th>Bayar</th>
                            <th>Diskon</th>
                            <th>Sisa</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var aset in Model)
                        {
                            <tr>

                                <td>@aset.SPesanan</td>
                                <td>@aset.Duedate</td>
                                <td>@aset.Keterangan</td>
                                <td>@aset.Piutang</td>
                                <td>@aset.Bayar</td>
                                <td>@aset.Diskon</td>
                                <td>@aset.Sisa</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {

        var table = $('#assets-data-table').DataTable({
            "language": {
                "decimal": ",",
                "thousands": "."
            },
            "scrollY": 300,
            "scrollX": true
        });

        $('#assets-data-table tbody')
            .on('mouseenter', 'td', function () {
                var colIdx = table.cell(this).index().column;

                $(table.cells().nodes()).removeClass('highlight');
                $(table.column(colIdx).nodes()).addClass('highlight');
            });
    });
</script>
