@model IEnumerable<GlobalSoft.Models.PiutangMain>


@{
    ViewBag.Title = "Angsuran";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Pembayaran Angsuran</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No. Bukti</th>
                            <th>Tanggal</th>
                            <th>Customer</th>
                            <th>Keterangan</th>
                            <th>Jumlah</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var asset in Model)
                        {
                        <tr>
                            <td>@asset.NoBukti</td>
                            <td>@asset.Tanggal</td>
                            <td>@asset.Keterangan</td>
                            <td>@asset.Jumlah</td>
                    
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id =  asset.MainID }) |
                                @Html.ActionLink("Details", "Details", new { id = asset.MainID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = asset.MainID }) |
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">


        
    </script>
}

