@model GlobalSoft.Models.AptCategorie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kategori Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Luas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AptType.Tipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptType.Tipe)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategorieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
