@model GlobalSoft.Models.CbBank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kas/Bank</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayName("Tipe")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GlAccount.GlAkun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlAccount.GlAkun)
        </dd>
 


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
