@model GlobalSoft.Models.AptBayar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cara Bayar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CaraBayar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaraBayar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bunga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bunga)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BayarID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
