@model IEnumerable<GlobalSoft.Models.BookViewsModels>


@{
    ViewBag.Title = "Bonus Status";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Bonus Status</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No. Bukti</th>
                            <th>Tanggal</th>
                            <th>Unit</th>
                            <th>Customer</th>
                            <th>Keterangan</th>
                            <th>Jumlah</th>
                            <th>Marketing</th>
                            <th>Cara Bayar</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var asset in Model)
                        {
                        <tr>
                            <td>@asset.NoRef</td>
                            <td>@asset.Tanggal</td>
                            <td>@asset.UnitNo</td>
                            <td>@asset.CustomerName</td>
                            <td>@asset.Keterangan</td>
                            <td>@asset.Payment</td>
                            <td>@asset.MarketingName</td>
                            <td>@asset.PaymentName</td>
                            <td>

                                @Html.ActionLink("Edit", "Edit", new { id = asset.TransID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = asset.TransID }) |
                                @Html.ActionLink("Print", "Bonus", new { id = asset.TransID }, new { target = "_blank" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">


     $(document).ready(function () {

         $('#assets-data-table').DataTable();
     });
    </script>
}

